.buttonIcon {
    width: 32px;
    cursor: pointer;
}

.addNewTask {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.buttonPanel {
    display: flex;
    justify-content: space-between;
}

.areaToDoList {
    display: flex;
    flex-wrap: wrap;
}

.pressButton:active {
    transform: translateY(2px);
}

.active {
    color: white;
    border-bottom: white 5px solid;
}